version: '2'

services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: omeka
      MYSQL_DATABASE: omeka
      MYSQL_USER: omeka
      MYSQL_PASSWORD: omeka

  db_admin:
    image: phpmyadmin/phpmyadmin
    restart: always
    links:
     - db:db
    ports:
      - "8080:80"

  web:
    depends_on:
      - db
    build: ./
    image: registry.gitlab.com/notch8/atla_omeka
    volumes:
      - ./:/var/www/html
    ports:
      - "80:80"
    restart: always
